@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Bebas Neue', system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  overflow-x: hidden;
}


  @layer base {
    :root {
     



        /* Light Mode Font Colors */
   

      --color-default: #ffffff;
      --color-brown: #64473A;
      --color-orange: #D9730D;
      --color-yellow: #DFAB01;
      --color-green: #0F7B6C;
      --color-blue: #0B6E99;
      --color-purple: #6940A5;
      --color-pink: #AD1A72;
      --color-red: #E03E3E;


      /* Light Mode Background Colors */
      --bg-default: #ffffff;
      --bg-brown: #F4EEEE;
      --bg-orange: #FAEBDD;
      --bg-yellow: #FBF3DB;
      --bg-green: #EDF3EC;
      --bg-blue: #E7F3F8;
      --bg-purple: #F6F3F9;
      --bg-pink: #FAF1F5;
      --bg-red: #FDEBEC;
    }

    .dark {
            /* Black Mode Background Colors */
      --bg-default: #37352F;
      --bg-grey: #787774;
      --bg-brown: #9F6B53;
      --bg-orange: #D9730D;
      --bg-yellow: #CB912F;
      --bg-green: #448361;
      --bg-blue: #337EA9;
      --bg-purple: #9065B0;
      --bg-pink: #C14C8A;
      --bg-red: #D44C47;
  
          /* Black Mode Font Colors */
      --color-white: #ffffff;
      --color-grey: #979A9B;
      --color-brown: #937264;
      --color-orange: #FFA344;
      --color-yellow: #FFDC49;
      --color-green: #4DAB9A;
      --color-blue: #529CCA;
      --color-purple: #9A6DD7;
      --color-pink: #E255A1;
      --color-red: #FF7369;

      
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 0px;
}





/* editor */

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 20px 10px;
}
.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px; /* Aligns with padding-top of editor-input */
  left: 15px; /* Aligns with padding-left of editor-input */
  font-size: 15px; /* Same as editor-input font size */
  user-select: none;
  display: inline-block;
  pointer-events: none;
}




/* copy button */


.container_copy {
  --color: #a5a5b0;
  --size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container_copy .clipboard {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container_copy .clipboard-check {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container_copy input:checked ~ .clipboard {
  display: none;
}

.container_copy input:checked ~ .clipboard-check {
  display: block;
}

.container_copy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}



/* res */

span.editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

 .editor-image img {
  max-width: 100%;
  cursor: default;
}

 .editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

 .editor-image img.focused.draggable {
  cursor: grab;
}

 .editor-image img.focused.draggable:active {
  cursor: grabbing;
}

 .editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

 .editor-image .image-caption-container {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}

 .editor-image .image-caption-button {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

 .editor-image .image-caption-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

 .editor-image .image-edit-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: url(/src/images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  user-select: none;
}

 .editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.1);
}

 .editor-image .image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

 .editor-image .image-resizer.image-resizer-n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

 .editor-image .image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

 .editor-image .image-resizer.image-resizer-e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

 .editor-image .image-resizer.image-resizer-se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

 .editor-image .image-resizer.image-resizer-s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

 .editor-image .image-resizer.image-resizer-sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

 .editor-image .image-resizer.image-resizer-w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

 .editor-image .image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

 span.inline-editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 1;
}

 .inline-editor-image img {
  max-width: 100%;
  cursor: default;
}

 .inline-editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
}

 .inline-editor-image img.focused.draggable {
  cursor: grab;
}

 .inline-editor-image img.focused.draggable:active {
  cursor: grabbing;
}

 .inline-editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

 .inline-editor-image.position-full {
  margin: 1em 0 1em 0;
}

 .inline-editor-image.position-left {
  float: left;
  width: 50%;
  margin: 1em 1em 0 0;
}

 .inline-editor-image.position-right {
  float: right;
  width: 50%;
  margin: 1em 0 0 1em;
}

 .inline-editor-image .image-edit-button {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 8px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

 .inline-editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

 .inline-editor-image .image-caption-container {
  display: block;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}

/* loader */




/* laoders */


.container_0123 {
  --uib-size: 60px;
  --uib-color: black;
  --uib-speed: 2.6s;
  --uib-dot-size: calc(var(--uib-size) * 0.23);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-dot-size);
  filter: url('#uib-jelly-ooze');
}
.container_0123-dark{
--uib-size: 60px;
  --uib-color: white;
  --uib-speed: 2.6s;
  --uib-dot-size: calc(var(--uib-size) * 0.23);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-dot-size);
  filter: url('#uib-jelly-ooze');
}
.dot {
  position: absolute;
  top: calc(50% - var(--uib-dot-size) / 2);
  left: calc(0px - var(--uib-dot-size) / 2);
  display: block;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  border-radius: 50%;
  background-color: var(--uib-color);
  animation: stream var(--uib-speed) linear infinite both;
  transition: background-color 0.3s ease;
}

.dot:nth-child(2) {
  animation-delay: calc(var(--uib-speed) * -0.2);
}

.dot:nth-child(3) {
  animation-delay: calc(var(--uib-speed) * -0.4);
}

.dot:nth-child(4) {
  animation-delay: calc(var(--uib-speed) * -0.6);
}

.dot:nth-child(5) {
  animation-delay: calc(var(--uib-speed) * -0.8);
}

@keyframes stream {
  0%,
  100% {
    transform: translateX(0) scale(0);
  }

  50% {
    transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size))) scale(0);
  }
}




/* exdrow */
.excalidraw-button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.excalidraw-button.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

